// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.consumption.fluent;

import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.http.rest.Response;
import com.azure.core.util.Context;
import com.azure.resourcemanager.consumption.fluent.models.ReservationRecommendationDetailsModelInner;

/**
 * An instance of this class provides access to all the operations defined in ReservationRecommendationDetailsClient.
 */
public interface ReservationRecommendationDetailsClient {
    /**
     * Details of a reservation recommendation for what-if analysis of reserved instances.
     *
     * @param resourceScope The scope associated with reservation recommendation details operations. This includes
     *     '/subscriptions/{subscriptionId}/' for subscription scope,
     *     '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resource group scope,
     *     /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
     *     '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for
     *     billingProfile scope.
     * @param filter Used to filter reservation recommendation details by: properties/scope with allowed values
     *     ['Single', 'Shared']; properties/savings/lookBackPeriod with allowed values [7, 30, 60];
     *     properties/savings/reservationOrderTerm with allowed values ['P1Y', 'P3Y']; properties/resource/region;
     *     properties/resource/product; and optional filter properties/subscriptionId can be specified for billing
     *     account and billing profile paths.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws com.azure.core.management.exception.ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return reservation recommendation details along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    Response<ReservationRecommendationDetailsModelInner> getWithResponse(
        String resourceScope, String filter, Context context);

    /**
     * Details of a reservation recommendation for what-if analysis of reserved instances.
     *
     * @param resourceScope The scope associated with reservation recommendation details operations. This includes
     *     '/subscriptions/{subscriptionId}/' for subscription scope,
     *     '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resource group scope,
     *     /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
     *     '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for
     *     billingProfile scope.
     * @param filter Used to filter reservation recommendation details by: properties/scope with allowed values
     *     ['Single', 'Shared']; properties/savings/lookBackPeriod with allowed values [7, 30, 60];
     *     properties/savings/reservationOrderTerm with allowed values ['P1Y', 'P3Y']; properties/resource/region;
     *     properties/resource/product; and optional filter properties/subscriptionId can be specified for billing
     *     account and billing profile paths.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws com.azure.core.management.exception.ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return reservation recommendation details.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    ReservationRecommendationDetailsModelInner get(String resourceScope, String filter);
}
