// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.advisor.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.advisor.fluent.ResourceProvidersClient;
import com.azure.resourcemanager.advisor.fluent.models.PredictionResponseInner;
import com.azure.resourcemanager.advisor.models.PredictionRequest;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ResourceProvidersClient.
 */
public final class ResourceProvidersClientImpl implements ResourceProvidersClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ResourceProvidersService service;

    /**
     * The service client containing this operation class.
     */
    private final AdvisorManagementClientImpl client;

    /**
     * Initializes an instance of ResourceProvidersClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ResourceProvidersClientImpl(AdvisorManagementClientImpl client) {
        this.service
            = RestProxy.create(ResourceProvidersService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AdvisorManagementClientResourceProviders to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AdvisorManagementCli")
    public interface ResourceProvidersService {
        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/predict")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<PredictionResponseInner>> predict(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") PredictionRequest predictionRequest, @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Predicts a recommendation.
     * 
     * @param predictionRequest Parameters for predict recommendation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response used by predictions along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<PredictionResponseInner>> predictWithResponseAsync(PredictionRequest predictionRequest) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (predictionRequest == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter predictionRequest is required and cannot be null."));
        } else {
            predictionRequest.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.predict(this.client.getEndpoint(), this.client.getSubscriptionId(),
                this.client.getApiVersion(), predictionRequest, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Predicts a recommendation.
     * 
     * @param predictionRequest Parameters for predict recommendation.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response used by predictions along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<PredictionResponseInner>> predictWithResponseAsync(PredictionRequest predictionRequest,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (predictionRequest == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter predictionRequest is required and cannot be null."));
        } else {
            predictionRequest.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.predict(this.client.getEndpoint(), this.client.getSubscriptionId(), this.client.getApiVersion(),
            predictionRequest, accept, context);
    }

    /**
     * Predicts a recommendation.
     * 
     * @param predictionRequest Parameters for predict recommendation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response used by predictions on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PredictionResponseInner> predictAsync(PredictionRequest predictionRequest) {
        return predictWithResponseAsync(predictionRequest).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Predicts a recommendation.
     * 
     * @param predictionRequest Parameters for predict recommendation.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response used by predictions along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<PredictionResponseInner> predictWithResponse(PredictionRequest predictionRequest, Context context) {
        return predictWithResponseAsync(predictionRequest, context).block();
    }

    /**
     * Predicts a recommendation.
     * 
     * @param predictionRequest Parameters for predict recommendation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response used by predictions.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public PredictionResponseInner predict(PredictionRequest predictionRequest) {
        return predictWithResponse(predictionRequest, Context.NONE).getValue();
    }
}
