// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.peering.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.peering.fluent.ResourceMovesClient;
import com.azure.resourcemanager.peering.models.ResourceMoveRequest;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in ResourceMovesClient. */
public final class ResourceMovesClientImpl implements ResourceMovesClient {
    /** The proxy service used to perform REST calls. */
    private final ResourceMovesService service;

    /** The service client containing this operation class. */
    private final PeeringManagementClientImpl client;

    /**
     * Initializes an instance of ResourceMovesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    ResourceMovesClientImpl(PeeringManagementClientImpl client) {
        this.service =
            RestProxy.create(ResourceMovesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for PeeringManagementClientResourceMoves to be used by the proxy service
     * to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "PeeringManagementCli")
    public interface ResourceMovesService {
        @Headers({"Content-Type: application/json"})
        @Post("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/validateMoveResources")
        @ExpectedResponses({200, 204})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Void>> validateMoveResources(
            @HostParam("$host") String endpoint,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("subscriptionId") String subscriptionId,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") ResourceMoveRequest resourceMoveRequest,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Post("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources")
        @ExpectedResponses({200, 204})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Void>> moveResources(
            @HostParam("$host") String endpoint,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("subscriptionId") String subscriptionId,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") ResourceMoveRequest resourceMoveRequest,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * ValidateMoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Payload.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> validateMoveResourcesWithResponseAsync(
        String resourceGroupName, ResourceMoveRequest resourceMoveRequest) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceMoveRequest == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceMoveRequest is required and cannot be null."));
        } else {
            resourceMoveRequest.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .validateMoveResources(
                            this.client.getEndpoint(),
                            resourceGroupName,
                            this.client.getSubscriptionId(),
                            this.client.getApiVersion(),
                            resourceMoveRequest,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * ValidateMoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Payload.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> validateMoveResourcesWithResponseAsync(
        String resourceGroupName, ResourceMoveRequest resourceMoveRequest, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceMoveRequest == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceMoveRequest is required and cannot be null."));
        } else {
            resourceMoveRequest.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .validateMoveResources(
                this.client.getEndpoint(),
                resourceGroupName,
                this.client.getSubscriptionId(),
                this.client.getApiVersion(),
                resourceMoveRequest,
                accept,
                context);
    }

    /**
     * ValidateMoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Payload.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return A {@link Mono} that completes when a successful response is received.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> validateMoveResourcesAsync(String resourceGroupName, ResourceMoveRequest resourceMoveRequest) {
        return validateMoveResourcesWithResponseAsync(resourceGroupName, resourceMoveRequest)
            .flatMap(ignored -> Mono.empty());
    }

    /**
     * ValidateMoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Payload.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> validateMoveResourcesWithResponse(
        String resourceGroupName, ResourceMoveRequest resourceMoveRequest, Context context) {
        return validateMoveResourcesWithResponseAsync(resourceGroupName, resourceMoveRequest, context).block();
    }

    /**
     * ValidateMoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Payload.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void validateMoveResources(String resourceGroupName, ResourceMoveRequest resourceMoveRequest) {
        validateMoveResourcesWithResponse(resourceGroupName, resourceMoveRequest, Context.NONE);
    }

    /**
     * MoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Request payload.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> moveResourcesWithResponseAsync(
        String resourceGroupName, ResourceMoveRequest resourceMoveRequest) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceMoveRequest == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceMoveRequest is required and cannot be null."));
        } else {
            resourceMoveRequest.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .moveResources(
                            this.client.getEndpoint(),
                            resourceGroupName,
                            this.client.getSubscriptionId(),
                            this.client.getApiVersion(),
                            resourceMoveRequest,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * MoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Request payload.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> moveResourcesWithResponseAsync(
        String resourceGroupName, ResourceMoveRequest resourceMoveRequest, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceMoveRequest == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceMoveRequest is required and cannot be null."));
        } else {
            resourceMoveRequest.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .moveResources(
                this.client.getEndpoint(),
                resourceGroupName,
                this.client.getSubscriptionId(),
                this.client.getApiVersion(),
                resourceMoveRequest,
                accept,
                context);
    }

    /**
     * MoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Request payload.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return A {@link Mono} that completes when a successful response is received.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> moveResourcesAsync(String resourceGroupName, ResourceMoveRequest resourceMoveRequest) {
        return moveResourcesWithResponseAsync(resourceGroupName, resourceMoveRequest).flatMap(ignored -> Mono.empty());
    }

    /**
     * MoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Request payload.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> moveResourcesWithResponse(
        String resourceGroupName, ResourceMoveRequest resourceMoveRequest, Context context) {
        return moveResourcesWithResponseAsync(resourceGroupName, resourceMoveRequest, context).block();
    }

    /**
     * MoveResources will be called by ARM when a resource is moved.
     *
     * @param resourceGroupName Resource group name.
     * @param resourceMoveRequest Request payload.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void moveResources(String resourceGroupName, ResourceMoveRequest resourceMoveRequest) {
        moveResourcesWithResponse(resourceGroupName, resourceMoveRequest, Context.NONE);
    }
}
