// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.edgemicrosoftedgesites.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.Patch;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.edgemicrosoftedgesites.fluent.SitesUpdatesClient;
import com.azure.resourcemanager.edgemicrosoftedgesites.fluent.models.SiteInner;
import com.azure.resourcemanager.edgemicrosoftedgesites.models.SiteUpdate;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in SitesUpdatesClient.
 */
public final class SitesUpdatesClientImpl implements SitesUpdatesClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final SitesUpdatesService service;

    /**
     * The service client containing this operation class.
     */
    private final EdgeSitesImpl client;

    /**
     * Initializes an instance of SitesUpdatesClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    SitesUpdatesClientImpl(EdgeSitesImpl client) {
        this.service
            = RestProxy.create(SitesUpdatesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for EdgeSitesSitesUpdates to be used by the proxy service to perform
     * REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "EdgeSitesSitesUpdate")
    public interface SitesUpdatesService {
        @Headers({ "Content-Type: application/json" })
        @Patch("/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites/{siteName}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<SiteInner>> atSubscription(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @PathParam("siteName") String siteName,
            @QueryParam("api-version") String apiVersion, @BodyParam("application/json") SiteUpdate site,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Patch("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites/{siteName}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<SiteInner>> byResourceGroup(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @PathParam("siteName") String siteName,
            @QueryParam("api-version") String apiVersion, @BodyParam("application/json") SiteUpdate site,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Update a Site at Subscription Scope.
     * 
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<SiteInner>> atSubscriptionWithResponseAsync(String siteName, SiteUpdate site) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (siteName == null) {
            return Mono.error(new IllegalArgumentException("Parameter siteName is required and cannot be null."));
        }
        if (site == null) {
            return Mono.error(new IllegalArgumentException("Parameter site is required and cannot be null."));
        } else {
            site.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.atSubscription(this.client.getEndpoint(), this.client.getSubscriptionId(),
                siteName, this.client.getApiVersion(), site, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Update a Site at Subscription Scope.
     * 
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<SiteInner>> atSubscriptionWithResponseAsync(String siteName, SiteUpdate site,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (siteName == null) {
            return Mono.error(new IllegalArgumentException("Parameter siteName is required and cannot be null."));
        }
        if (site == null) {
            return Mono.error(new IllegalArgumentException("Parameter site is required and cannot be null."));
        } else {
            site.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.atSubscription(this.client.getEndpoint(), this.client.getSubscriptionId(), siteName,
            this.client.getApiVersion(), site, accept, context);
    }

    /**
     * Update a Site at Subscription Scope.
     * 
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SiteInner> atSubscriptionAsync(String siteName, SiteUpdate site) {
        return atSubscriptionWithResponseAsync(siteName, site).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Update a Site at Subscription Scope.
     * 
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<SiteInner> atSubscriptionWithResponse(String siteName, SiteUpdate site, Context context) {
        return atSubscriptionWithResponseAsync(siteName, site, context).block();
    }

    /**
     * Update a Site at Subscription Scope.
     * 
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SiteInner atSubscription(String siteName, SiteUpdate site) {
        return atSubscriptionWithResponse(siteName, site, Context.NONE).getValue();
    }

    /**
     * Update a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<SiteInner>> byResourceGroupWithResponseAsync(String resourceGroupName, String siteName,
        SiteUpdate site) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (siteName == null) {
            return Mono.error(new IllegalArgumentException("Parameter siteName is required and cannot be null."));
        }
        if (site == null) {
            return Mono.error(new IllegalArgumentException("Parameter site is required and cannot be null."));
        } else {
            site.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.byResourceGroup(this.client.getEndpoint(), this.client.getSubscriptionId(),
                resourceGroupName, siteName, this.client.getApiVersion(), site, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Update a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<SiteInner>> byResourceGroupWithResponseAsync(String resourceGroupName, String siteName,
        SiteUpdate site, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (siteName == null) {
            return Mono.error(new IllegalArgumentException("Parameter siteName is required and cannot be null."));
        }
        if (site == null) {
            return Mono.error(new IllegalArgumentException("Parameter site is required and cannot be null."));
        } else {
            site.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.byResourceGroup(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
            siteName, this.client.getApiVersion(), site, accept, context);
    }

    /**
     * Update a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SiteInner> byResourceGroupAsync(String resourceGroupName, String siteName, SiteUpdate site) {
        return byResourceGroupWithResponseAsync(resourceGroupName, siteName, site)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Update a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<SiteInner> byResourceGroupWithResponse(String resourceGroupName, String siteName, SiteUpdate site,
        Context context) {
        return byResourceGroupWithResponseAsync(resourceGroupName, siteName, site, context).block();
    }

    /**
     * Update a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site The resource properties to be updated.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SiteInner byResourceGroup(String resourceGroupName, String siteName, SiteUpdate site) {
        return byResourceGroupWithResponse(resourceGroupName, siteName, site, Context.NONE).getValue();
    }
}
