// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.edgemicrosoftedgesites.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Put;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.management.polling.PollResult;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.polling.PollerFlux;
import com.azure.core.util.polling.SyncPoller;
import com.azure.resourcemanager.edgemicrosoftedgesites.fluent.SitesCreatesClient;
import com.azure.resourcemanager.edgemicrosoftedgesites.fluent.models.SiteInner;
import java.nio.ByteBuffer;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in SitesCreatesClient.
 */
public final class SitesCreatesClientImpl implements SitesCreatesClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final SitesCreatesService service;

    /**
     * The service client containing this operation class.
     */
    private final EdgeSitesImpl client;

    /**
     * Initializes an instance of SitesCreatesClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    SitesCreatesClientImpl(EdgeSitesImpl client) {
        this.service
            = RestProxy.create(SitesCreatesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for EdgeSitesSitesCreates to be used by the proxy service to perform
     * REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "EdgeSitesSitesCreate")
    public interface SitesCreatesService {
        @Headers({ "Content-Type: application/json" })
        @Put("/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites/{siteName}")
        @ExpectedResponses({ 200, 201 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> atSubscription(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @PathParam("siteName") String siteName,
            @QueryParam("api-version") String apiVersion, @BodyParam("application/json") SiteInner site,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Put("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites/{siteName}")
        @ExpectedResponses({ 200, 201 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> byResourceGroup(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @PathParam("siteName") String siteName,
            @QueryParam("api-version") String apiVersion, @BodyParam("application/json") SiteInner site,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> atSubscriptionWithResponseAsync(String siteName, SiteInner site) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (siteName == null) {
            return Mono.error(new IllegalArgumentException("Parameter siteName is required and cannot be null."));
        }
        if (site == null) {
            return Mono.error(new IllegalArgumentException("Parameter site is required and cannot be null."));
        } else {
            site.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.atSubscription(this.client.getEndpoint(), this.client.getSubscriptionId(),
                siteName, this.client.getApiVersion(), site, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> atSubscriptionWithResponseAsync(String siteName, SiteInner site,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (siteName == null) {
            return Mono.error(new IllegalArgumentException("Parameter siteName is required and cannot be null."));
        }
        if (site == null) {
            return Mono.error(new IllegalArgumentException("Parameter site is required and cannot be null."));
        } else {
            site.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.atSubscription(this.client.getEndpoint(), this.client.getSubscriptionId(), siteName,
            this.client.getApiVersion(), site, accept, context);
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of site resource.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<SiteInner>, SiteInner> beginAtSubscriptionAsync(String siteName, SiteInner site) {
        Mono<Response<Flux<ByteBuffer>>> mono = atSubscriptionWithResponseAsync(siteName, site);
        return this.client.<SiteInner, SiteInner>getLroResult(mono, this.client.getHttpPipeline(), SiteInner.class,
            SiteInner.class, this.client.getContext());
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of site resource.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<SiteInner>, SiteInner> beginAtSubscriptionAsync(String siteName, SiteInner site,
        Context context) {
        context = this.client.mergeContext(context);
        Mono<Response<Flux<ByteBuffer>>> mono = atSubscriptionWithResponseAsync(siteName, site, context);
        return this.client.<SiteInner, SiteInner>getLroResult(mono, this.client.getHttpPipeline(), SiteInner.class,
            SiteInner.class, context);
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of site resource.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<SiteInner>, SiteInner> beginAtSubscription(String siteName, SiteInner site) {
        return this.beginAtSubscriptionAsync(siteName, site).getSyncPoller();
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of site resource.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<SiteInner>, SiteInner> beginAtSubscription(String siteName, SiteInner site,
        Context context) {
        return this.beginAtSubscriptionAsync(siteName, site, context).getSyncPoller();
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SiteInner> atSubscriptionAsync(String siteName, SiteInner site) {
        return beginAtSubscriptionAsync(siteName, site).last().flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SiteInner> atSubscriptionAsync(String siteName, SiteInner site, Context context) {
        return beginAtSubscriptionAsync(siteName, site, context).last().flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SiteInner atSubscription(String siteName, SiteInner site) {
        return atSubscriptionAsync(siteName, site).block();
    }

    /**
     * Create a Site at Subscription scope.
     * 
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SiteInner atSubscription(String siteName, SiteInner site, Context context) {
        return atSubscriptionAsync(siteName, site, context).block();
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> byResourceGroupWithResponseAsync(String resourceGroupName, String siteName,
        SiteInner site) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (siteName == null) {
            return Mono.error(new IllegalArgumentException("Parameter siteName is required and cannot be null."));
        }
        if (site == null) {
            return Mono.error(new IllegalArgumentException("Parameter site is required and cannot be null."));
        } else {
            site.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.byResourceGroup(this.client.getEndpoint(), this.client.getSubscriptionId(),
                resourceGroupName, siteName, this.client.getApiVersion(), site, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> byResourceGroupWithResponseAsync(String resourceGroupName, String siteName,
        SiteInner site, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (siteName == null) {
            return Mono.error(new IllegalArgumentException("Parameter siteName is required and cannot be null."));
        }
        if (site == null) {
            return Mono.error(new IllegalArgumentException("Parameter site is required and cannot be null."));
        } else {
            site.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.byResourceGroup(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
            siteName, this.client.getApiVersion(), site, accept, context);
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of site resource.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<SiteInner>, SiteInner> beginByResourceGroupAsync(String resourceGroupName,
        String siteName, SiteInner site) {
        Mono<Response<Flux<ByteBuffer>>> mono = byResourceGroupWithResponseAsync(resourceGroupName, siteName, site);
        return this.client.<SiteInner, SiteInner>getLroResult(mono, this.client.getHttpPipeline(), SiteInner.class,
            SiteInner.class, this.client.getContext());
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of site resource.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<SiteInner>, SiteInner> beginByResourceGroupAsync(String resourceGroupName,
        String siteName, SiteInner site, Context context) {
        context = this.client.mergeContext(context);
        Mono<Response<Flux<ByteBuffer>>> mono
            = byResourceGroupWithResponseAsync(resourceGroupName, siteName, site, context);
        return this.client.<SiteInner, SiteInner>getLroResult(mono, this.client.getHttpPipeline(), SiteInner.class,
            SiteInner.class, context);
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of site resource.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<SiteInner>, SiteInner> beginByResourceGroup(String resourceGroupName, String siteName,
        SiteInner site) {
        return this.beginByResourceGroupAsync(resourceGroupName, siteName, site).getSyncPoller();
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of site resource.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<SiteInner>, SiteInner> beginByResourceGroup(String resourceGroupName, String siteName,
        SiteInner site, Context context) {
        return this.beginByResourceGroupAsync(resourceGroupName, siteName, site, context).getSyncPoller();
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SiteInner> byResourceGroupAsync(String resourceGroupName, String siteName, SiteInner site) {
        return beginByResourceGroupAsync(resourceGroupName, siteName, site).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SiteInner> byResourceGroupAsync(String resourceGroupName, String siteName, SiteInner site,
        Context context) {
        return beginByResourceGroupAsync(resourceGroupName, siteName, site, context).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SiteInner byResourceGroup(String resourceGroupName, String siteName, SiteInner site) {
        return byResourceGroupAsync(resourceGroupName, siteName, site).block();
    }

    /**
     * Create a Site at Resource Group scope.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param siteName Name of Site.
     * @param site Resource create parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return site resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SiteInner byResourceGroup(String resourceGroupName, String siteName, SiteInner site, Context context) {
        return byResourceGroupAsync(resourceGroupName, siteName, site, context).block();
    }
}
