// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.logic.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.Delete;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Put;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.logic.fluent.BatchConfigurationsClient;
import com.azure.resourcemanager.logic.fluent.models.BatchConfigurationCollectionInner;
import com.azure.resourcemanager.logic.fluent.models.BatchConfigurationInner;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in BatchConfigurationsClient.
 */
public final class BatchConfigurationsClientImpl implements BatchConfigurationsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final BatchConfigurationsService service;

    /**
     * The service client containing this operation class.
     */
    private final LogicManagementClientImpl client;

    /**
     * Initializes an instance of BatchConfigurationsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    BatchConfigurationsClientImpl(LogicManagementClientImpl client) {
        this.service = RestProxy.create(BatchConfigurationsService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for LogicManagementClientBatchConfigurations to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "LogicManagementClien")
    public interface BatchConfigurationsService {
        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BatchConfigurationCollectionInner>> list(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("integrationAccountName") String integrationAccountName, @HeaderParam("Accept") String accept,
            Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations/{batchConfigurationName}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BatchConfigurationInner>> get(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("integrationAccountName") String integrationAccountName,
            @PathParam("batchConfigurationName") String batchConfigurationName, @HeaderParam("Accept") String accept,
            Context context);

        @Headers({ "Content-Type: application/json" })
        @Put("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations/{batchConfigurationName}")
        @ExpectedResponses({ 200, 201 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BatchConfigurationInner>> createOrUpdate(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("integrationAccountName") String integrationAccountName,
            @PathParam("batchConfigurationName") String batchConfigurationName,
            @BodyParam("application/json") BatchConfigurationInner resource, @HeaderParam("Accept") String accept,
            Context context);

        @Headers({ "Content-Type: application/json" })
        @Delete("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations/{batchConfigurationName}")
        @ExpectedResponses({ 200, 204 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Void>> delete(@HostParam("$host") String endpoint, @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("integrationAccountName") String integrationAccountName,
            @PathParam("batchConfigurationName") String batchConfigurationName, @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * List the batch configurations for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a collection of batch configurations along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BatchConfigurationCollectionInner>> listWithResponseAsync(String resourceGroupName,
        String integrationAccountName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (integrationAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter integrationAccountName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.list(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), resourceGroupName, integrationAccountName, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * List the batch configurations for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a collection of batch configurations along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BatchConfigurationCollectionInner>> listWithResponseAsync(String resourceGroupName,
        String integrationAccountName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (integrationAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter integrationAccountName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.list(this.client.getEndpoint(), this.client.getApiVersion(), this.client.getSubscriptionId(),
            resourceGroupName, integrationAccountName, accept, context);
    }

    /**
     * List the batch configurations for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a collection of batch configurations on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<BatchConfigurationCollectionInner> listAsync(String resourceGroupName, String integrationAccountName) {
        return listWithResponseAsync(resourceGroupName, integrationAccountName)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * List the batch configurations for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a collection of batch configurations along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<BatchConfigurationCollectionInner> listWithResponse(String resourceGroupName,
        String integrationAccountName, Context context) {
        return listWithResponseAsync(resourceGroupName, integrationAccountName, context).block();
    }

    /**
     * List the batch configurations for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a collection of batch configurations.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public BatchConfigurationCollectionInner list(String resourceGroupName, String integrationAccountName) {
        return listWithResponse(resourceGroupName, integrationAccountName, Context.NONE).getValue();
    }

    /**
     * Get a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a batch configuration for an integration account along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BatchConfigurationInner>> getWithResponseAsync(String resourceGroupName,
        String integrationAccountName, String batchConfigurationName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (integrationAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter integrationAccountName is required and cannot be null."));
        }
        if (batchConfigurationName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter batchConfigurationName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.get(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), resourceGroupName, integrationAccountName, batchConfigurationName,
                accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a batch configuration for an integration account along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BatchConfigurationInner>> getWithResponseAsync(String resourceGroupName,
        String integrationAccountName, String batchConfigurationName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (integrationAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter integrationAccountName is required and cannot be null."));
        }
        if (batchConfigurationName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter batchConfigurationName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.get(this.client.getEndpoint(), this.client.getApiVersion(), this.client.getSubscriptionId(),
            resourceGroupName, integrationAccountName, batchConfigurationName, accept, context);
    }

    /**
     * Get a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a batch configuration for an integration account on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<BatchConfigurationInner> getAsync(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName) {
        return getWithResponseAsync(resourceGroupName, integrationAccountName, batchConfigurationName)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a batch configuration for an integration account along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<BatchConfigurationInner> getWithResponse(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName, Context context) {
        return getWithResponseAsync(resourceGroupName, integrationAccountName, batchConfigurationName, context).block();
    }

    /**
     * Get a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a batch configuration for an integration account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public BatchConfigurationInner get(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName) {
        return getWithResponse(resourceGroupName, integrationAccountName, batchConfigurationName, Context.NONE)
            .getValue();
    }

    /**
     * Create or update a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param resource The batch configuration.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the batch configuration resource definition along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BatchConfigurationInner>> createOrUpdateWithResponseAsync(String resourceGroupName,
        String integrationAccountName, String batchConfigurationName, BatchConfigurationInner resource) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (integrationAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter integrationAccountName is required and cannot be null."));
        }
        if (batchConfigurationName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter batchConfigurationName is required and cannot be null."));
        }
        if (resource == null) {
            return Mono.error(new IllegalArgumentException("Parameter resource is required and cannot be null."));
        } else {
            resource.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.createOrUpdate(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), resourceGroupName, integrationAccountName, batchConfigurationName,
                resource, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Create or update a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param resource The batch configuration.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the batch configuration resource definition along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BatchConfigurationInner>> createOrUpdateWithResponseAsync(String resourceGroupName,
        String integrationAccountName, String batchConfigurationName, BatchConfigurationInner resource,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (integrationAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter integrationAccountName is required and cannot be null."));
        }
        if (batchConfigurationName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter batchConfigurationName is required and cannot be null."));
        }
        if (resource == null) {
            return Mono.error(new IllegalArgumentException("Parameter resource is required and cannot be null."));
        } else {
            resource.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.createOrUpdate(this.client.getEndpoint(), this.client.getApiVersion(),
            this.client.getSubscriptionId(), resourceGroupName, integrationAccountName, batchConfigurationName,
            resource, accept, context);
    }

    /**
     * Create or update a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param resource The batch configuration.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the batch configuration resource definition on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<BatchConfigurationInner> createOrUpdateAsync(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName, BatchConfigurationInner resource) {
        return createOrUpdateWithResponseAsync(resourceGroupName, integrationAccountName, batchConfigurationName,
            resource).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Create or update a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param resource The batch configuration.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the batch configuration resource definition along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<BatchConfigurationInner> createOrUpdateWithResponse(String resourceGroupName,
        String integrationAccountName, String batchConfigurationName, BatchConfigurationInner resource,
        Context context) {
        return createOrUpdateWithResponseAsync(resourceGroupName, integrationAccountName, batchConfigurationName,
            resource, context).block();
    }

    /**
     * Create or update a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param resource The batch configuration.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the batch configuration resource definition.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public BatchConfigurationInner createOrUpdate(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName, BatchConfigurationInner resource) {
        return createOrUpdateWithResponse(resourceGroupName, integrationAccountName, batchConfigurationName, resource,
            Context.NONE).getValue();
    }

    /**
     * Delete a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> deleteWithResponseAsync(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (integrationAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter integrationAccountName is required and cannot be null."));
        }
        if (batchConfigurationName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter batchConfigurationName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.delete(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), resourceGroupName, integrationAccountName, batchConfigurationName,
                accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Delete a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> deleteWithResponseAsync(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (integrationAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter integrationAccountName is required and cannot be null."));
        }
        if (batchConfigurationName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter batchConfigurationName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.delete(this.client.getEndpoint(), this.client.getApiVersion(), this.client.getSubscriptionId(),
            resourceGroupName, integrationAccountName, batchConfigurationName, accept, context);
    }

    /**
     * Delete a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return A {@link Mono} that completes when a successful response is received.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> deleteAsync(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName) {
        return deleteWithResponseAsync(resourceGroupName, integrationAccountName, batchConfigurationName)
            .flatMap(ignored -> Mono.empty());
    }

    /**
     * Delete a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> deleteWithResponse(String resourceGroupName, String integrationAccountName,
        String batchConfigurationName, Context context) {
        return deleteWithResponseAsync(resourceGroupName, integrationAccountName, batchConfigurationName, context)
            .block();
    }

    /**
     * Delete a batch configuration for an integration account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param integrationAccountName The integration account name.
     * @param batchConfigurationName The batch configuration name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void delete(String resourceGroupName, String integrationAccountName, String batchConfigurationName) {
        deleteWithResponse(resourceGroupName, integrationAccountName, batchConfigurationName, Context.NONE);
    }
}
