// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.azuredatatransfer.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.azuredatatransfer.fluent.ListSchemasClient;
import com.azure.resourcemanager.azuredatatransfer.fluent.models.SchemasListResultInner;
import com.azure.resourcemanager.azuredatatransfer.models.Schema;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ListSchemasClient.
 */
public final class ListSchemasClientImpl implements ListSchemasClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ListSchemasService service;

    /**
     * The service client containing this operation class.
     */
    private final AzuredatatransferrpImpl client;

    /**
     * Initializes an instance of ListSchemasClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ListSchemasClientImpl(AzuredatatransferrpImpl client) {
        this.service
            = RestProxy.create(ListSchemasService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AzuredatatransferrpListSchemas to be used by the proxy service to
     * perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AzuredatatransferrpL")
    public interface ListSchemasService {
        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/listSchemas")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<SchemasListResultInner>> list(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @PathParam("pipelineName") String pipelineName,
            @QueryParam("api-version") String apiVersion, @BodyParam("application/json") Schema schema,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/listSchemas")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<SchemasListResultInner> listSync(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @PathParam("pipelineName") String pipelineName,
            @QueryParam("api-version") String apiVersion, @BodyParam("application/json") Schema schema,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Lists the schemas for the specified connection in a pipeline.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param pipelineName The name for the pipeline that is to be requested.
     * @param schema Schema(s) to retrieve.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the schemas list result along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<SchemasListResultInner>> listWithResponseAsync(String resourceGroupName, String pipelineName,
        Schema schema) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (pipelineName == null) {
            return Mono.error(new IllegalArgumentException("Parameter pipelineName is required and cannot be null."));
        }
        if (schema == null) {
            return Mono.error(new IllegalArgumentException("Parameter schema is required and cannot be null."));
        } else {
            schema.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.list(this.client.getEndpoint(), this.client.getSubscriptionId(),
                resourceGroupName, pipelineName, this.client.getApiVersion(), schema, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Lists the schemas for the specified connection in a pipeline.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param pipelineName The name for the pipeline that is to be requested.
     * @param schema Schema(s) to retrieve.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the schemas list result on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SchemasListResultInner> listAsync(String resourceGroupName, String pipelineName, Schema schema) {
        return listWithResponseAsync(resourceGroupName, pipelineName, schema)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Lists the schemas for the specified connection in a pipeline.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param pipelineName The name for the pipeline that is to be requested.
     * @param schema Schema(s) to retrieve.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the schemas list result along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<SchemasListResultInner> listWithResponse(String resourceGroupName, String pipelineName,
        Schema schema, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (pipelineName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter pipelineName is required and cannot be null."));
        }
        if (schema == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter schema is required and cannot be null."));
        } else {
            schema.validate();
        }
        final String accept = "application/json";
        return service.listSync(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
            pipelineName, this.client.getApiVersion(), schema, accept, context);
    }

    /**
     * Lists the schemas for the specified connection in a pipeline.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param pipelineName The name for the pipeline that is to be requested.
     * @param schema Schema(s) to retrieve.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the schemas list result.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SchemasListResultInner list(String resourceGroupName, String pipelineName, Schema schema) {
        return listWithResponse(resourceGroupName, pipelineName, schema, Context.NONE).getValue();
    }

    private static final ClientLogger LOGGER = new ClientLogger(ListSchemasClientImpl.class);
}
