// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.postgresqlflexibleserver.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.postgresqlflexibleserver.fluent.GetAutoMigrationFreeSlotsClient;
import com.azure.resourcemanager.postgresqlflexibleserver.fluent.models.FreeSlotsListResultInner;
import com.azure.resourcemanager.postgresqlflexibleserver.models.AutoMigrationScheduleTimeRange;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in GetAutoMigrationFreeSlotsClient.
 */
public final class GetAutoMigrationFreeSlotsClientImpl implements GetAutoMigrationFreeSlotsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final GetAutoMigrationFreeSlotsService service;

    /**
     * The service client containing this operation class.
     */
    private final PostgreSqlManagementClientImpl client;

    /**
     * Initializes an instance of GetAutoMigrationFreeSlotsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    GetAutoMigrationFreeSlotsClientImpl(PostgreSqlManagementClientImpl client) {
        this.service = RestProxy.create(GetAutoMigrationFreeSlotsService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for PostgreSqlManagementClientGetAutoMigrationFreeSlots to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "PostgreSqlManagement")
    public interface GetAutoMigrationFreeSlotsService {
        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/getAutoMigrationFreeSlots")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<FreeSlotsListResultInner>> list(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @PathParam("locationName") String locationName,
            @BodyParam("application/json") AutoMigrationScheduleTimeRange migrationScheduleTimeRange,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Get auto migration available/free slots
     * 
     * This method gets the available slots for auto migration for a given single server resource id.
     * 
     * @param subscriptionId The subscription ID of the target database server.
     * @param locationName The name of the location.
     * @param migrationScheduleTimeRange The required parameters for getting available/free slots for auto migration.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a list of available/free slot dates along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<FreeSlotsListResultInner>> listWithResponseAsync(String subscriptionId, String locationName,
        AutoMigrationScheduleTimeRange migrationScheduleTimeRange) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (subscriptionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter subscriptionId is required and cannot be null."));
        }
        if (locationName == null) {
            return Mono.error(new IllegalArgumentException("Parameter locationName is required and cannot be null."));
        }
        if (migrationScheduleTimeRange == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter migrationScheduleTimeRange is required and cannot be null."));
        } else {
            migrationScheduleTimeRange.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.list(this.client.getEndpoint(), this.client.getApiVersion(), subscriptionId,
                locationName, migrationScheduleTimeRange, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get auto migration available/free slots
     * 
     * This method gets the available slots for auto migration for a given single server resource id.
     * 
     * @param subscriptionId The subscription ID of the target database server.
     * @param locationName The name of the location.
     * @param migrationScheduleTimeRange The required parameters for getting available/free slots for auto migration.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a list of available/free slot dates along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<FreeSlotsListResultInner>> listWithResponseAsync(String subscriptionId, String locationName,
        AutoMigrationScheduleTimeRange migrationScheduleTimeRange, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (subscriptionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter subscriptionId is required and cannot be null."));
        }
        if (locationName == null) {
            return Mono.error(new IllegalArgumentException("Parameter locationName is required and cannot be null."));
        }
        if (migrationScheduleTimeRange == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter migrationScheduleTimeRange is required and cannot be null."));
        } else {
            migrationScheduleTimeRange.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.list(this.client.getEndpoint(), this.client.getApiVersion(), subscriptionId, locationName,
            migrationScheduleTimeRange, accept, context);
    }

    /**
     * Get auto migration available/free slots
     * 
     * This method gets the available slots for auto migration for a given single server resource id.
     * 
     * @param subscriptionId The subscription ID of the target database server.
     * @param locationName The name of the location.
     * @param migrationScheduleTimeRange The required parameters for getting available/free slots for auto migration.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a list of available/free slot dates on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<FreeSlotsListResultInner> listAsync(String subscriptionId, String locationName,
        AutoMigrationScheduleTimeRange migrationScheduleTimeRange) {
        return listWithResponseAsync(subscriptionId, locationName, migrationScheduleTimeRange)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get auto migration available/free slots
     * 
     * This method gets the available slots for auto migration for a given single server resource id.
     * 
     * @param subscriptionId The subscription ID of the target database server.
     * @param locationName The name of the location.
     * @param migrationScheduleTimeRange The required parameters for getting available/free slots for auto migration.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a list of available/free slot dates along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<FreeSlotsListResultInner> listWithResponse(String subscriptionId, String locationName,
        AutoMigrationScheduleTimeRange migrationScheduleTimeRange, Context context) {
        return listWithResponseAsync(subscriptionId, locationName, migrationScheduleTimeRange, context).block();
    }

    /**
     * Get auto migration available/free slots
     * 
     * This method gets the available slots for auto migration for a given single server resource id.
     * 
     * @param subscriptionId The subscription ID of the target database server.
     * @param locationName The name of the location.
     * @param migrationScheduleTimeRange The required parameters for getting available/free slots for auto migration.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a list of available/free slot dates.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public FreeSlotsListResultInner list(String subscriptionId, String locationName,
        AutoMigrationScheduleTimeRange migrationScheduleTimeRange) {
        return listWithResponse(subscriptionId, locationName, migrationScheduleTimeRange, Context.NONE).getValue();
    }
}
