// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.securityinsights.implementation;

import com.azure.core.annotation.Delete;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.securityinsights.fluent.ContentTemplateOperationsClient;
import com.azure.resourcemanager.securityinsights.fluent.models.TemplateModelInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in ContentTemplateOperationsClient. */
public final class ContentTemplateOperationsClientImpl implements ContentTemplateOperationsClient {
    /** The proxy service used to perform REST calls. */
    private final ContentTemplateOperationsService service;

    /** The service client containing this operation class. */
    private final SecurityInsightsImpl client;

    /**
     * Initializes an instance of ContentTemplateOperationsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    ContentTemplateOperationsClientImpl(SecurityInsightsImpl client) {
        this.service =
            RestProxy
                .create(
                    ContentTemplateOperationsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for SecurityInsightsContentTemplateOperations to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "SecurityInsightsCont")
    private interface ContentTemplateOperationsService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers"
                + "/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers"
                + "/Microsoft.SecurityInsights/contentTemplates/{templateId}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<TemplateModelInner>> get(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("operationalInsightsResourceProvider") String operationalInsightsResourceProvider,
            @PathParam("workspaceName") String workspaceName,
            @PathParam("templateId") String templateId,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Delete(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers"
                + "/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers"
                + "/Microsoft.SecurityInsights/contentTemplates/{templateId}")
        @ExpectedResponses({200, 204})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Void>> delete(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("operationalInsightsResourceProvider") String operationalInsightsResourceProvider,
            @PathParam("workspaceName") String workspaceName,
            @PathParam("templateId") String templateId,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Gets a template byt its identifier.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a template byt its identifier along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<TemplateModelInner>> getWithResponseAsync(
        String resourceGroupName, String operationalInsightsResourceProvider, String workspaceName, String templateId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (operationalInsightsResourceProvider == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter operationalInsightsResourceProvider is required and cannot be null."));
        }
        if (workspaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter workspaceName is required and cannot be null."));
        }
        if (templateId == null) {
            return Mono.error(new IllegalArgumentException("Parameter templateId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            operationalInsightsResourceProvider,
                            workspaceName,
                            templateId,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets a template byt its identifier.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a template byt its identifier along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<TemplateModelInner>> getWithResponseAsync(
        String resourceGroupName,
        String operationalInsightsResourceProvider,
        String workspaceName,
        String templateId,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (operationalInsightsResourceProvider == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter operationalInsightsResourceProvider is required and cannot be null."));
        }
        if (workspaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter workspaceName is required and cannot be null."));
        }
        if (templateId == null) {
            return Mono.error(new IllegalArgumentException("Parameter templateId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                operationalInsightsResourceProvider,
                workspaceName,
                templateId,
                accept,
                context);
    }

    /**
     * Gets a template byt its identifier.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a template byt its identifier on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<TemplateModelInner> getAsync(
        String resourceGroupName, String operationalInsightsResourceProvider, String workspaceName, String templateId) {
        return getWithResponseAsync(resourceGroupName, operationalInsightsResourceProvider, workspaceName, templateId)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Gets a template byt its identifier.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a template byt its identifier.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public TemplateModelInner get(
        String resourceGroupName, String operationalInsightsResourceProvider, String workspaceName, String templateId) {
        return getAsync(resourceGroupName, operationalInsightsResourceProvider, workspaceName, templateId).block();
    }

    /**
     * Gets a template byt its identifier.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a template byt its identifier along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<TemplateModelInner> getWithResponse(
        String resourceGroupName,
        String operationalInsightsResourceProvider,
        String workspaceName,
        String templateId,
        Context context) {
        return getWithResponseAsync(
                resourceGroupName, operationalInsightsResourceProvider, workspaceName, templateId, context)
            .block();
    }

    /**
     * Delete an installed template.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> deleteWithResponseAsync(
        String resourceGroupName, String operationalInsightsResourceProvider, String workspaceName, String templateId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (operationalInsightsResourceProvider == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter operationalInsightsResourceProvider is required and cannot be null."));
        }
        if (workspaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter workspaceName is required and cannot be null."));
        }
        if (templateId == null) {
            return Mono.error(new IllegalArgumentException("Parameter templateId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .delete(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            operationalInsightsResourceProvider,
                            workspaceName,
                            templateId,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Delete an installed template.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> deleteWithResponseAsync(
        String resourceGroupName,
        String operationalInsightsResourceProvider,
        String workspaceName,
        String templateId,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (operationalInsightsResourceProvider == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter operationalInsightsResourceProvider is required and cannot be null."));
        }
        if (workspaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter workspaceName is required and cannot be null."));
        }
        if (templateId == null) {
            return Mono.error(new IllegalArgumentException("Parameter templateId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .delete(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                operationalInsightsResourceProvider,
                workspaceName,
                templateId,
                accept,
                context);
    }

    /**
     * Delete an installed template.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return A {@link Mono} that completes when a successful response is received.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> deleteAsync(
        String resourceGroupName, String operationalInsightsResourceProvider, String workspaceName, String templateId) {
        return deleteWithResponseAsync(
                resourceGroupName, operationalInsightsResourceProvider, workspaceName, templateId)
            .flatMap(ignored -> Mono.empty());
    }

    /**
     * Delete an installed template.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void delete(
        String resourceGroupName, String operationalInsightsResourceProvider, String workspaceName, String templateId) {
        deleteAsync(resourceGroupName, operationalInsightsResourceProvider, workspaceName, templateId).block();
    }

    /**
     * Delete an installed template.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
     *     Microsoft.OperationalInsights.
     * @param workspaceName The name of the workspace.
     * @param templateId template Id.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> deleteWithResponse(
        String resourceGroupName,
        String operationalInsightsResourceProvider,
        String workspaceName,
        String templateId,
        Context context) {
        return deleteWithResponseAsync(
                resourceGroupName, operationalInsightsResourceProvider, workspaceName, templateId, context)
            .block();
    }
}
