// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.securityinsights.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.Patch;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.management.polling.PollResult;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.polling.PollerFlux;
import com.azure.core.util.polling.SyncPoller;
import com.azure.resourcemanager.securityinsights.fluent.UpdatesClient;
import com.azure.resourcemanager.securityinsights.fluent.models.RecommendationInner;
import com.azure.resourcemanager.securityinsights.models.RecommendationPatch;
import java.nio.ByteBuffer;
import java.util.List;
import java.util.UUID;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in UpdatesClient. */
public final class UpdatesClientImpl implements UpdatesClient {
    /** The proxy service used to perform REST calls. */
    private final UpdatesService service;

    /** The service client containing this operation class. */
    private final SecurityInsightsImpl client;

    /**
     * Initializes an instance of UpdatesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    UpdatesClientImpl(SecurityInsightsImpl client) {
        this.service = RestProxy.create(UpdatesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for SecurityInsightsUpdates to be used by the proxy service to perform
     * REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "SecurityInsightsUpda")
    public interface UpdatesService {
        @Headers({"Content-Type: application/json"})
        @Patch(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations/{recommendationId}")
        @ExpectedResponses({202})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> recommendation(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("workspaceName") String workspaceName,
            @PathParam("recommendationId") UUID recommendationId,
            @BodyParam("application/json") List<RecommendationPatch> recommendationPatch,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return recommendation object along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> recommendationWithResponseAsync(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (workspaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter workspaceName is required and cannot be null."));
        }
        if (recommendationId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter recommendationId is required and cannot be null."));
        }
        if (recommendationPatch == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter recommendationPatch is required and cannot be null."));
        } else {
            recommendationPatch.forEach(e -> e.validate());
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .recommendation(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            workspaceName,
                            recommendationId,
                            recommendationPatch,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return recommendation object along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> recommendationWithResponseAsync(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (workspaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter workspaceName is required and cannot be null."));
        }
        if (recommendationId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter recommendationId is required and cannot be null."));
        }
        if (recommendationPatch == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter recommendationPatch is required and cannot be null."));
        } else {
            recommendationPatch.forEach(e -> e.validate());
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .recommendation(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                workspaceName,
                recommendationId,
                recommendationPatch,
                accept,
                context);
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of recommendation object.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<RecommendationInner>, RecommendationInner> beginRecommendationAsync(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch) {
        Mono<Response<Flux<ByteBuffer>>> mono =
            recommendationWithResponseAsync(resourceGroupName, workspaceName, recommendationId, recommendationPatch);
        return this
            .client
            .<RecommendationInner, RecommendationInner>getLroResult(
                mono,
                this.client.getHttpPipeline(),
                RecommendationInner.class,
                RecommendationInner.class,
                this.client.getContext());
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of recommendation object.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<RecommendationInner>, RecommendationInner> beginRecommendationAsync(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch,
        Context context) {
        context = this.client.mergeContext(context);
        Mono<Response<Flux<ByteBuffer>>> mono =
            recommendationWithResponseAsync(
                resourceGroupName, workspaceName, recommendationId, recommendationPatch, context);
        return this
            .client
            .<RecommendationInner, RecommendationInner>getLroResult(
                mono, this.client.getHttpPipeline(), RecommendationInner.class, RecommendationInner.class, context);
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of recommendation object.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<RecommendationInner>, RecommendationInner> beginRecommendation(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch) {
        return this
            .beginRecommendationAsync(resourceGroupName, workspaceName, recommendationId, recommendationPatch)
            .getSyncPoller();
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of recommendation object.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<RecommendationInner>, RecommendationInner> beginRecommendation(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch,
        Context context) {
        return this
            .beginRecommendationAsync(resourceGroupName, workspaceName, recommendationId, recommendationPatch, context)
            .getSyncPoller();
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return recommendation object on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<RecommendationInner> recommendationAsync(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch) {
        return beginRecommendationAsync(resourceGroupName, workspaceName, recommendationId, recommendationPatch)
            .last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return recommendation object on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<RecommendationInner> recommendationAsync(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch,
        Context context) {
        return beginRecommendationAsync(
                resourceGroupName, workspaceName, recommendationId, recommendationPatch, context)
            .last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return recommendation object.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public RecommendationInner recommendation(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch) {
        return recommendationAsync(resourceGroupName, workspaceName, recommendationId, recommendationPatch).block();
    }

    /**
     * Patch a recommendation.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param workspaceName The name of the workspace.
     * @param recommendationId Recommendation Id.
     * @param recommendationPatch Recommendation Fields to Update.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return recommendation object.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public RecommendationInner recommendation(
        String resourceGroupName,
        String workspaceName,
        UUID recommendationId,
        List<RecommendationPatch> recommendationPatch,
        Context context) {
        return recommendationAsync(resourceGroupName, workspaceName, recommendationId, recommendationPatch, context)
            .block();
    }
}
