// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.compute.generated.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.compute.generated.fluent.AttributeBasedVMSizeRecommendersClient;
import com.azure.resourcemanager.compute.generated.fluent.models.AttributeBasedVMSizeRecommenderResponseInner;
import com.azure.resourcemanager.compute.generated.models.AttributeBasedVMSizeRecommenderInput;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in AttributeBasedVMSizeRecommendersClient.
 */
public final class AttributeBasedVMSizeRecommendersClientImpl implements AttributeBasedVMSizeRecommendersClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final AttributeBasedVMSizeRecommendersService service;

    /**
     * The service client containing this operation class.
     */
    private final ComputeManagementClientImpl client;

    /**
     * Initializes an instance of AttributeBasedVMSizeRecommendersClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    AttributeBasedVMSizeRecommendersClientImpl(ComputeManagementClientImpl client) {
        this.service = RestProxy.create(AttributeBasedVMSizeRecommendersService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ComputeManagementClientAttributeBasedVMSizeRecommenders to be used by
     * the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ComputeManagementCli")
    public interface AttributeBasedVMSizeRecommendersService {
        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizeRecommendations/vmAttributeBased/generate")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AttributeBasedVMSizeRecommenderResponseInner>> post(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @PathParam("location") String location,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") AttributeBasedVMSizeRecommenderInput attributeBasedVMSizeRecommenderInput,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Generates attribute based VM Size Recommendations.
     * 
     * @param location The name of the Azure region.
     * @param attributeBasedVMSizeRecommenderInput AttributeBasedVMSizeRecommender object supplied in the body of the
     * Post attribute based VMSize recommender operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return attributeBasedVMSizeRecommender API response along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AttributeBasedVMSizeRecommenderResponseInner>> postWithResponseAsync(String location,
        AttributeBasedVMSizeRecommenderInput attributeBasedVMSizeRecommenderInput) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (attributeBasedVMSizeRecommenderInput == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter attributeBasedVMSizeRecommenderInput is required and cannot be null."));
        } else {
            attributeBasedVMSizeRecommenderInput.validate();
        }
        final String apiVersion = "2025-02-01-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.post(this.client.getEndpoint(), this.client.getSubscriptionId(), location,
                apiVersion, attributeBasedVMSizeRecommenderInput, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Generates attribute based VM Size Recommendations.
     * 
     * @param location The name of the Azure region.
     * @param attributeBasedVMSizeRecommenderInput AttributeBasedVMSizeRecommender object supplied in the body of the
     * Post attribute based VMSize recommender operation.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return attributeBasedVMSizeRecommender API response along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AttributeBasedVMSizeRecommenderResponseInner>> postWithResponseAsync(String location,
        AttributeBasedVMSizeRecommenderInput attributeBasedVMSizeRecommenderInput, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (attributeBasedVMSizeRecommenderInput == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter attributeBasedVMSizeRecommenderInput is required and cannot be null."));
        } else {
            attributeBasedVMSizeRecommenderInput.validate();
        }
        final String apiVersion = "2025-02-01-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.post(this.client.getEndpoint(), this.client.getSubscriptionId(), location, apiVersion,
            attributeBasedVMSizeRecommenderInput, accept, context);
    }

    /**
     * Generates attribute based VM Size Recommendations.
     * 
     * @param location The name of the Azure region.
     * @param attributeBasedVMSizeRecommenderInput AttributeBasedVMSizeRecommender object supplied in the body of the
     * Post attribute based VMSize recommender operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return attributeBasedVMSizeRecommender API response on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<AttributeBasedVMSizeRecommenderResponseInner> postAsync(String location,
        AttributeBasedVMSizeRecommenderInput attributeBasedVMSizeRecommenderInput) {
        return postWithResponseAsync(location, attributeBasedVMSizeRecommenderInput)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Generates attribute based VM Size Recommendations.
     * 
     * @param location The name of the Azure region.
     * @param attributeBasedVMSizeRecommenderInput AttributeBasedVMSizeRecommender object supplied in the body of the
     * Post attribute based VMSize recommender operation.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return attributeBasedVMSizeRecommender API response along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<AttributeBasedVMSizeRecommenderResponseInner> postWithResponse(String location,
        AttributeBasedVMSizeRecommenderInput attributeBasedVMSizeRecommenderInput, Context context) {
        return postWithResponseAsync(location, attributeBasedVMSizeRecommenderInput, context).block();
    }

    /**
     * Generates attribute based VM Size Recommendations.
     * 
     * @param location The name of the Azure region.
     * @param attributeBasedVMSizeRecommenderInput AttributeBasedVMSizeRecommender object supplied in the body of the
     * Post attribute based VMSize recommender operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return attributeBasedVMSizeRecommender API response.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AttributeBasedVMSizeRecommenderResponseInner post(String location,
        AttributeBasedVMSizeRecommenderInput attributeBasedVMSizeRecommenderInput) {
        return postWithResponse(location, attributeBasedVMSizeRecommenderInput, Context.NONE).getValue();
    }
}
