// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.compute.generated.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.compute.generated.fluent.DiagnosticOperationsClient;
import com.azure.resourcemanager.compute.generated.models.ErrorDetailException;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in DiagnosticOperationsClient.
 */
public final class DiagnosticOperationsClientImpl implements DiagnosticOperationsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final DiagnosticOperationsService service;

    /**
     * The service client containing this operation class.
     */
    private final ComputeManagementClientImpl client;

    /**
     * Initializes an instance of DiagnosticOperationsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    DiagnosticOperationsClientImpl(ComputeManagementClientImpl client) {
        this.service = RestProxy.create(DiagnosticOperationsService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ComputeManagementClientDiagnosticOperations to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ComputeManagementCli")
    public interface DiagnosticOperationsService {
        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnosticOperations/{operationId}")
        @ExpectedResponses({ 200, 202 })
        @UnexpectedResponseExceptionType(ErrorDetailException.class)
        Mono<Response<Void>> read(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @PathParam("location") String location,
            @PathParam("operationId") String operationId, @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Gets status of a Diagnostic operation issued for Disk Inspection.
     * 
     * @param location The location used to execute the diagnostic operation.
     * @param operationId The identifier pointing to a request for Disk Inspection. This is used for polling result of
     * the request.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ErrorDetailException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return status of a Diagnostic operation issued for Disk Inspection along with {@link Response} on successful
     * completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> readWithResponseAsync(String location, String operationId) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (operationId == null) {
            return Mono.error(new IllegalArgumentException("Parameter operationId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.read(this.client.getEndpoint(), this.client.getSubscriptionId(), location,
                operationId, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets status of a Diagnostic operation issued for Disk Inspection.
     * 
     * @param location The location used to execute the diagnostic operation.
     * @param operationId The identifier pointing to a request for Disk Inspection. This is used for polling result of
     * the request.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ErrorDetailException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return status of a Diagnostic operation issued for Disk Inspection along with {@link Response} on successful
     * completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> readWithResponseAsync(String location, String operationId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (operationId == null) {
            return Mono.error(new IllegalArgumentException("Parameter operationId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.read(this.client.getEndpoint(), this.client.getSubscriptionId(), location, operationId, accept,
            context);
    }

    /**
     * Gets status of a Diagnostic operation issued for Disk Inspection.
     * 
     * @param location The location used to execute the diagnostic operation.
     * @param operationId The identifier pointing to a request for Disk Inspection. This is used for polling result of
     * the request.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ErrorDetailException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return status of a Diagnostic operation issued for Disk Inspection on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> readAsync(String location, String operationId) {
        return readWithResponseAsync(location, operationId).flatMap(ignored -> Mono.empty());
    }

    /**
     * Gets status of a Diagnostic operation issued for Disk Inspection.
     * 
     * @param location The location used to execute the diagnostic operation.
     * @param operationId The identifier pointing to a request for Disk Inspection. This is used for polling result of
     * the request.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ErrorDetailException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return status of a Diagnostic operation issued for Disk Inspection along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> readWithResponse(String location, String operationId, Context context) {
        return readWithResponseAsync(location, operationId, context).block();
    }

    /**
     * Gets status of a Diagnostic operation issued for Disk Inspection.
     * 
     * @param location The location used to execute the diagnostic operation.
     * @param operationId The identifier pointing to a request for Disk Inspection. This is used for polling result of
     * the request.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ErrorDetailException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void read(String location, String operationId) {
        readWithResponse(location, operationId, Context.NONE);
    }
}
