// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.compute.generated.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.compute.generated.fluent.SpotPlacementScoresClient;
import com.azure.resourcemanager.compute.generated.fluent.models.ComputeDiagnosticBaseInner;
import com.azure.resourcemanager.compute.generated.fluent.models.SpotPlacementScoresResponseInner;
import com.azure.resourcemanager.compute.generated.models.SpotPlacementScoresInput;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in SpotPlacementScoresClient.
 */
public final class SpotPlacementScoresClientImpl implements SpotPlacementScoresClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final SpotPlacementScoresService service;

    /**
     * The service client containing this operation class.
     */
    private final ComputeManagementClientImpl client;

    /**
     * Initializes an instance of SpotPlacementScoresClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    SpotPlacementScoresClientImpl(ComputeManagementClientImpl client) {
        this.service = RestProxy.create(SpotPlacementScoresService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ComputeManagementClientSpotPlacementScores to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ComputeManagementCli")
    public interface SpotPlacementScoresService {
        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/placementScores/spot")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ComputeDiagnosticBaseInner>> get(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @PathParam("location") String location,
            @QueryParam("api-version") String apiVersion, @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/placementScores/spot")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<ComputeDiagnosticBaseInner> getSync(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @PathParam("location") String location,
            @QueryParam("api-version") String apiVersion, @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/placementScores/spot/generate")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<SpotPlacementScoresResponseInner>> post(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @PathParam("location") String location,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") SpotPlacementScoresInput spotPlacementScoresInput,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/placementScores/spot/generate")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<SpotPlacementScoresResponseInner> postSync(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @PathParam("location") String location,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") SpotPlacementScoresInput spotPlacementScoresInput,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Gets Spot Placement Scores metadata.
     * 
     * @param location The name of the Azure region.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return spot Placement Scores metadata along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ComputeDiagnosticBaseInner>> getWithResponseAsync(String location) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        final String apiVersion = "2025-06-01";
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.get(this.client.getEndpoint(), this.client.getSubscriptionId(), location,
                apiVersion, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets Spot Placement Scores metadata.
     * 
     * @param location The name of the Azure region.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return spot Placement Scores metadata on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ComputeDiagnosticBaseInner> getAsync(String location) {
        return getWithResponseAsync(location).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Gets Spot Placement Scores metadata.
     * 
     * @param location The name of the Azure region.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return spot Placement Scores metadata along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ComputeDiagnosticBaseInner> getWithResponse(String location, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        final String apiVersion = "2025-06-01";
        final String accept = "application/json";
        return service.getSync(this.client.getEndpoint(), this.client.getSubscriptionId(), location, apiVersion, accept,
            context);
    }

    /**
     * Gets Spot Placement Scores metadata.
     * 
     * @param location The name of the Azure region.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return spot Placement Scores metadata.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ComputeDiagnosticBaseInner get(String location) {
        return getWithResponse(location, Context.NONE).getValue();
    }

    /**
     * Generates placement scores for Spot VM skus.
     * 
     * @param location The name of the Azure region.
     * @param spotPlacementScoresInput SpotPlacementScores object supplied in the body of the Post spot placement scores
     * operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return spotPlacementScores API response along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<SpotPlacementScoresResponseInner>> postWithResponseAsync(String location,
        SpotPlacementScoresInput spotPlacementScoresInput) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (spotPlacementScoresInput == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter spotPlacementScoresInput is required and cannot be null."));
        } else {
            spotPlacementScoresInput.validate();
        }
        final String apiVersion = "2025-06-01";
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.post(this.client.getEndpoint(), this.client.getSubscriptionId(), location,
                apiVersion, spotPlacementScoresInput, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Generates placement scores for Spot VM skus.
     * 
     * @param location The name of the Azure region.
     * @param spotPlacementScoresInput SpotPlacementScores object supplied in the body of the Post spot placement scores
     * operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return spotPlacementScores API response on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SpotPlacementScoresResponseInner> postAsync(String location,
        SpotPlacementScoresInput spotPlacementScoresInput) {
        return postWithResponseAsync(location, spotPlacementScoresInput)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Generates placement scores for Spot VM skus.
     * 
     * @param location The name of the Azure region.
     * @param spotPlacementScoresInput SpotPlacementScores object supplied in the body of the Post spot placement scores
     * operation.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return spotPlacementScores API response along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<SpotPlacementScoresResponseInner> postWithResponse(String location,
        SpotPlacementScoresInput spotPlacementScoresInput, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (spotPlacementScoresInput == null) {
            throw LOGGER.atError()
                .log(
                    new IllegalArgumentException("Parameter spotPlacementScoresInput is required and cannot be null."));
        } else {
            spotPlacementScoresInput.validate();
        }
        final String apiVersion = "2025-06-01";
        final String accept = "application/json";
        return service.postSync(this.client.getEndpoint(), this.client.getSubscriptionId(), location, apiVersion,
            spotPlacementScoresInput, accept, context);
    }

    /**
     * Generates placement scores for Spot VM skus.
     * 
     * @param location The name of the Azure region.
     * @param spotPlacementScoresInput SpotPlacementScores object supplied in the body of the Post spot placement scores
     * operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return spotPlacementScores API response.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SpotPlacementScoresResponseInner post(String location, SpotPlacementScoresInput spotPlacementScoresInput) {
        return postWithResponse(location, spotPlacementScoresInput, Context.NONE).getValue();
    }

    private static final ClientLogger LOGGER = new ClientLogger(SpotPlacementScoresClientImpl.class);
}
