// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.terraform.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.management.polling.PollResult;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.polling.PollerFlux;
import com.azure.core.util.polling.SyncPoller;
import com.azure.resourcemanager.terraform.fluent.ExportTerraformsClient;
import com.azure.resourcemanager.terraform.fluent.models.ExportResultInner;
import com.azure.resourcemanager.terraform.models.BaseExportModel;
import java.nio.ByteBuffer;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ExportTerraformsClient.
 */
public final class ExportTerraformsClientImpl implements ExportTerraformsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ExportTerraformsService service;

    /**
     * The service client containing this operation class.
     */
    private final AzureTerraformManagementClientImpl client;

    /**
     * Initializes an instance of ExportTerraformsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ExportTerraformsClientImpl(AzureTerraformManagementClientImpl client) {
        this.service
            = RestProxy.create(ExportTerraformsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AzureTerraformManagementClientExportTerraforms to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AzureTerraformManage")
    public interface ExportTerraformsService {
        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.AzureTerraform/exportTerraform")
        @ExpectedResponses({ 200, 202 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> exportTerraform(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @BodyParam("application/json") BaseExportModel body, @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the Terraform export result along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> exportTerraformWithResponseAsync(BaseExportModel body) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.exportTerraform(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), body, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the Terraform export result along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> exportTerraformWithResponseAsync(BaseExportModel body, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.exportTerraform(this.client.getEndpoint(), this.client.getApiVersion(),
            this.client.getSubscriptionId(), body, accept, context);
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of the Terraform export result.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<ExportResultInner>, ExportResultInner>
        beginExportTerraformAsync(BaseExportModel body) {
        Mono<Response<Flux<ByteBuffer>>> mono = exportTerraformWithResponseAsync(body);
        return this.client.<ExportResultInner, ExportResultInner>getLroResult(mono, this.client.getHttpPipeline(),
            ExportResultInner.class, ExportResultInner.class, this.client.getContext());
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of the Terraform export result.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<ExportResultInner>, ExportResultInner> beginExportTerraformAsync(BaseExportModel body,
        Context context) {
        context = this.client.mergeContext(context);
        Mono<Response<Flux<ByteBuffer>>> mono = exportTerraformWithResponseAsync(body, context);
        return this.client.<ExportResultInner, ExportResultInner>getLroResult(mono, this.client.getHttpPipeline(),
            ExportResultInner.class, ExportResultInner.class, context);
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of the Terraform export result.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<ExportResultInner>, ExportResultInner> beginExportTerraform(BaseExportModel body) {
        return this.beginExportTerraformAsync(body).getSyncPoller();
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of the Terraform export result.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<ExportResultInner>, ExportResultInner> beginExportTerraform(BaseExportModel body,
        Context context) {
        return this.beginExportTerraformAsync(body, context).getSyncPoller();
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the Terraform export result on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ExportResultInner> exportTerraformAsync(BaseExportModel body) {
        return beginExportTerraformAsync(body).last().flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the Terraform export result on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ExportResultInner> exportTerraformAsync(BaseExportModel body, Context context) {
        return beginExportTerraformAsync(body, context).last().flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the Terraform export result.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ExportResultInner exportTerraform(BaseExportModel body) {
        return exportTerraformAsync(body).block();
    }

    /**
     * Exports the Terraform configuration of the specified resource(s).
     * 
     * @param body The request body.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the Terraform export result.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ExportResultInner exportTerraform(BaseExportModel body, Context context) {
        return exportTerraformAsync(body, context).block();
    }
}
