// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.azurestackhci.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Put;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.azurestackhci.fluent.CreatesClient;
import com.azure.resourcemanager.azurestackhci.fluent.models.NodeConfigurationInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in CreatesClient. */
public final class CreatesClientImpl implements CreatesClient {
    /** The proxy service used to perform REST calls. */
    private final CreatesService service;

    /** The service client containing this operation class. */
    private final AzureStackHciClientImpl client;

    /**
     * Initializes an instance of CreatesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    CreatesClientImpl(AzureStackHciClientImpl client) {
        this.service = RestProxy.create(CreatesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AzureStackHciClientCreates to be used by the proxy service to perform
     * REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AzureStackHciClientC")
    public interface CreatesService {
        @Headers({"Content-Type: application/json"})
        @Put("/{resourceUri}/providers/Microsoft.AzureStackHCI/nodeConfigurations/{nodeConfigurationName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<NodeConfigurationInner>> nodeConfiguration(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam(value = "resourceUri", encoded = true) String resourceUri,
            @PathParam("nodeConfigurationName") String nodeConfigurationName,
            @BodyParam("application/json") NodeConfigurationInner nodeConfiguration,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @param nodeConfiguration Details of the Node Configuration Resource.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<NodeConfigurationInner>> nodeConfigurationWithResponseAsync(
        String resourceUri, String nodeConfigurationName, NodeConfigurationInner nodeConfiguration) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceUri == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceUri is required and cannot be null."));
        }
        if (nodeConfigurationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter nodeConfigurationName is required and cannot be null."));
        }
        if (nodeConfiguration == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter nodeConfiguration is required and cannot be null."));
        } else {
            nodeConfiguration.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .nodeConfiguration(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            resourceUri,
                            nodeConfigurationName,
                            nodeConfiguration,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @param nodeConfiguration Details of the Node Configuration Resource.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<NodeConfigurationInner>> nodeConfigurationWithResponseAsync(
        String resourceUri, String nodeConfigurationName, NodeConfigurationInner nodeConfiguration, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceUri == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceUri is required and cannot be null."));
        }
        if (nodeConfigurationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter nodeConfigurationName is required and cannot be null."));
        }
        if (nodeConfiguration == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter nodeConfiguration is required and cannot be null."));
        } else {
            nodeConfiguration.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .nodeConfiguration(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                resourceUri,
                nodeConfigurationName,
                nodeConfiguration,
                accept,
                context);
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @param nodeConfiguration Details of the Node Configuration Resource.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<NodeConfigurationInner> nodeConfigurationAsync(
        String resourceUri, String nodeConfigurationName, NodeConfigurationInner nodeConfiguration) {
        return nodeConfigurationWithResponseAsync(resourceUri, nodeConfigurationName, nodeConfiguration)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @param nodeConfiguration Details of the Node Configuration Resource.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<NodeConfigurationInner> nodeConfigurationWithResponse(
        String resourceUri, String nodeConfigurationName, NodeConfigurationInner nodeConfiguration, Context context) {
        return nodeConfigurationWithResponseAsync(resourceUri, nodeConfigurationName, nodeConfiguration, context)
            .block();
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @param nodeConfiguration Details of the Node Configuration Resource.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public NodeConfigurationInner nodeConfiguration(
        String resourceUri, String nodeConfigurationName, NodeConfigurationInner nodeConfiguration) {
        return nodeConfigurationWithResponse(resourceUri, nodeConfigurationName, nodeConfiguration, Context.NONE)
            .getValue();
    }
}
