// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.azurestackhci.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.azurestackhci.fluent.GetsClient;
import com.azure.resourcemanager.azurestackhci.fluent.models.NodeConfigurationInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in GetsClient. */
public final class GetsClientImpl implements GetsClient {
    /** The proxy service used to perform REST calls. */
    private final GetsService service;

    /** The service client containing this operation class. */
    private final AzureStackHciClientImpl client;

    /**
     * Initializes an instance of GetsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    GetsClientImpl(AzureStackHciClientImpl client) {
        this.service = RestProxy.create(GetsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AzureStackHciClientGets to be used by the proxy service to perform
     * REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AzureStackHciClientG")
    public interface GetsService {
        @Headers({"Content-Type: application/json"})
        @Get("/{resourceUri}/providers/Microsoft.AzureStackHCI/nodeConfigurations/{nodeConfigurationName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<NodeConfigurationInner>> nodeConfiguration(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam(value = "resourceUri", encoded = true) String resourceUri,
            @PathParam("nodeConfigurationName") String nodeConfigurationName,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<NodeConfigurationInner>> nodeConfigurationWithResponseAsync(
        String resourceUri, String nodeConfigurationName) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceUri == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceUri is required and cannot be null."));
        }
        if (nodeConfigurationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter nodeConfigurationName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .nodeConfiguration(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            resourceUri,
                            nodeConfigurationName,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<NodeConfigurationInner>> nodeConfigurationWithResponseAsync(
        String resourceUri, String nodeConfigurationName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceUri == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceUri is required and cannot be null."));
        }
        if (nodeConfigurationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter nodeConfigurationName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .nodeConfiguration(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                resourceUri,
                nodeConfigurationName,
                accept,
                context);
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<NodeConfigurationInner> nodeConfigurationAsync(String resourceUri, String nodeConfigurationName) {
        return nodeConfigurationWithResponseAsync(resourceUri, nodeConfigurationName)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<NodeConfigurationInner> nodeConfigurationWithResponse(
        String resourceUri, String nodeConfigurationName, Context context) {
        return nodeConfigurationWithResponseAsync(resourceUri, nodeConfigurationName, context).block();
    }

    /**
     * Validate the Node Configuration Resources.
     *
     * @param resourceUri The fully qualified Azure Resource manager identifier of the resource to be connected.
     * @param nodeConfigurationName The name of the node configuration resource.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return nodeConfiguration details.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public NodeConfigurationInner nodeConfiguration(String resourceUri, String nodeConfigurationName) {
        return nodeConfigurationWithResponse(resourceUri, nodeConfigurationName, Context.NONE).getValue();
    }
}
