// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.chaos.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.chaos.fluent.OperationStatusesOperationsClient;
import com.azure.resourcemanager.chaos.fluent.models.OperationStatusInner;
import com.azure.resourcemanager.chaos.models.AzureCoreFoundationsErrorException;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in OperationStatusesOperationsClient.
 */
public final class OperationStatusesOperationsClientImpl implements OperationStatusesOperationsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final OperationStatusesOperationsService service;

    /**
     * The service client containing this operation class.
     */
    private final ChaosManagementClientImpl client;

    /**
     * Initializes an instance of OperationStatusesOperationsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    OperationStatusesOperationsClientImpl(ChaosManagementClientImpl client) {
        this.service = RestProxy.create(OperationStatusesOperationsService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ChaosManagementClientOperationStatusesOperations to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ChaosManagementClien")
    public interface OperationStatusesOperationsService {
        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{location}/operationsStatuses/{asyncOperationId}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(AzureCoreFoundationsErrorException.class)
        Mono<Response<OperationStatusInner>> get(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("location") String location,
            @PathParam("asyncOperationId") String asyncOperationId, @PathParam("subscriptionId") String subscriptionId,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Get the status of a long running azure asynchronous operation.
     * 
     * @param location The region name of operation.
     * @param asyncOperationId The operation Id.
     * @param subscriptionId GUID that represents an Azure subscription ID.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws AzureCoreFoundationsErrorException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the status of a long running azure asynchronous operation along with {@link Response} on successful
     * completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<OperationStatusInner>> getWithResponseAsync(String location, String asyncOperationId,
        String subscriptionId) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (asyncOperationId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter asyncOperationId is required and cannot be null."));
        }
        if (subscriptionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter subscriptionId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.get(this.client.getEndpoint(), this.client.getApiVersion(), location,
                asyncOperationId, subscriptionId, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the status of a long running azure asynchronous operation.
     * 
     * @param location The region name of operation.
     * @param asyncOperationId The operation Id.
     * @param subscriptionId GUID that represents an Azure subscription ID.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws AzureCoreFoundationsErrorException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the status of a long running azure asynchronous operation along with {@link Response} on successful
     * completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<OperationStatusInner>> getWithResponseAsync(String location, String asyncOperationId,
        String subscriptionId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (asyncOperationId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter asyncOperationId is required and cannot be null."));
        }
        if (subscriptionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter subscriptionId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.get(this.client.getEndpoint(), this.client.getApiVersion(), location, asyncOperationId,
            subscriptionId, accept, context);
    }

    /**
     * Get the status of a long running azure asynchronous operation.
     * 
     * @param location The region name of operation.
     * @param asyncOperationId The operation Id.
     * @param subscriptionId GUID that represents an Azure subscription ID.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws AzureCoreFoundationsErrorException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the status of a long running azure asynchronous operation on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<OperationStatusInner> getAsync(String location, String asyncOperationId, String subscriptionId) {
        return getWithResponseAsync(location, asyncOperationId, subscriptionId)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get the status of a long running azure asynchronous operation.
     * 
     * @param location The region name of operation.
     * @param asyncOperationId The operation Id.
     * @param subscriptionId GUID that represents an Azure subscription ID.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws AzureCoreFoundationsErrorException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the status of a long running azure asynchronous operation along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<OperationStatusInner> getWithResponse(String location, String asyncOperationId,
        String subscriptionId, Context context) {
        return getWithResponseAsync(location, asyncOperationId, subscriptionId, context).block();
    }

    /**
     * Get the status of a long running azure asynchronous operation.
     * 
     * @param location The region name of operation.
     * @param asyncOperationId The operation Id.
     * @param subscriptionId GUID that represents an Azure subscription ID.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws AzureCoreFoundationsErrorException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the status of a long running azure asynchronous operation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public OperationStatusInner get(String location, String asyncOperationId, String subscriptionId) {
        return getWithResponse(location, asyncOperationId, subscriptionId, Context.NONE).getValue();
    }
}
